{% load static%}

<head>
    

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Tayssir | Platform</title>
    {% block stylesheets %}   
    <link rel="shortcut icon" href="{% static 'images/logo.jpeg'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/fontawsom-all.min.css'%}">
    <link rel="stylesheet" href="{% static 'plugins/slider/css/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="{% static 'plugins/slider/css/owl.theme.default.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css">
    {% endblock %}
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="{% static 'images/logo.jpeg'%}" class="img-fluid" alt="Photo" style="height:4%;width:4%;">
    <a class="navbar-brand" href="#">Tayssir </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{%url 'app_tayssir:home'%}">الصفحة الرئيسية <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{%url 'app_tayssir:home'%}">الدروس<span class="sr-only"></span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{%url 'app_tayssir:services'%}">الخدمات<span class="sr-only"></span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{%url 'app_tayssir:blog'%}">تواصل معنا <span class="sr-only"></span></a>
          </li>
        
        <li class="nav-item dropdown">
         
          
        </li>
        
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">البحث</button>
      </form>
    </div>
  </nav>
  

  {% block acceuil%} {% endblock %}
  {% block services%} {% endblock %}
  {% block blog%} {% endblock %}
  <!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>يمكنك التواصل معنا على شبكات التواصل الاجتماعي:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content --><br>
          <h6 class="text-uppercase fw-bold mb-4">
            <i style="text-family:'time new roman'">تقدم منصة تيسير اعداد دوراة تكوينية في القانون و خريجي الحقوق لتهيئهم للعمل من قبل اساتذة متخصصين في المجال بالاضافة الى توفير دروس و انشطة الكترونية و توفير خدمة التوجيه لكافة المواطنين و تنويرهم و الاجابة على كل الاسئلة  التي يطرحوها  في ما يخص الادارة بالاضافة الى توفير فرصة البحث عن محامين مؤهلين من قبل دوراتنا</i>
          </h6>
          <p>
           
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Liens
          </h6>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{%url 'app_tayssir:home'%}">الصفحة الرئيسية <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{%url 'app_tayssir:home'%}">الدروس<span class="sr-only"></span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{%url 'app_tayssir:services'%}">الخدمات<span class="sr-only"></span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{%url 'app_tayssir:blog'%}">تواصل معنا <span class="sr-only"></span></a>
              </li>
            
            <li class="nav-item dropdown">
             
              
            </li>
            
          </ul>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> </p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            yahiaouihocineoppo@gmail.com
            boussetaoui.samiha@gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i> +213793540866</p>
          <p><i class="fas fa-print me-3"></i> +213674249774</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  
</footer>
<!-- Footer -->
 <!-- Js Plugins -->
 <script src="{% static 'js/jquery-3.3.1.min.js'%}"></script>
 <script src="{% static 'js/bootstrap.min.js'%}"></script>

 <script src="{% static 'js/script.js'%}"></script>