{% extends 'head.html'%}
{% load static %}
{% block acceuil%} 
<br><br><br>
  <div class="container">
    <h1 style="text-align:center;">مرحبا بكم في موقعنا تيسير</h1>
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  voir les cours  </button>
  
  <!-- Modal -->
  
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Les Cours</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% for request in req%}

          <div class="card" style="width: 18rem;">
            <div class="card-body">
             Titre: <h5 class="card-title">{{request.title}}</h5>
              Numero: <h6 class="card-subtitle mb-2 ">{{request.num}}</h6>
              Email: <p class="card-text">{{request.email}}</p>
              Date de publication: <p class="card-text">{{request.date_create}}</p>
              <a href="{{request.fichier.url}}"class="card-text">Ouvrir le cours PDF</a>
             
            </div>
          </div>
        
          {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         
        </div>
      </div>
    </div>
  </div>
  </div>
  
  
 {% endblock %}